html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select button
figure,
video {
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
	line-height: 1;
}
ul,
li {
	list-style: none;
}

body,
html {
  background: #F0F4F7;
  color: #333;
  font-size: 14px;
  word-break: break-all;
  font-family: "PingFang SC Regular", "-apple-system", BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  line-height: 1;
}

img {
  display: block;
	height: auto;
	width: 100%;
	border: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	resize: none;
	overflow: auto;
}

input,
textarea {
	outline: none;
	box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &::-webkit-input-placeholder {
    color: #c7c7c7;
  }
}

button {
	outline: none;
	box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 0;
	cursor: pointer;
}

//自动填写密码出现的黄色背景
input:-webkit-autofill {
  box-shadow: 0 0 1000px rgba(255, 255, 255, 0) inset !important;
}

blockquote {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
br {
  height: 0;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

::-webkit-scrollbar {
	height: 0px;
	width: 0px;
	color: transparent;
}

i {
	font-style: normal;
}

[v-cloak] {
	display: none !important;
}
